{% extends 'all-photos/base.html'%}
{% block content %}
<div class="container">
<h1>what the hell</h1>
  <div class="row">
    {% if category %}
      <h2>Found {{ category|length }} of searched category {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search category {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if category %}
    {% for image in category %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.image}}</h1>
          <script src="{{image.image.url}}" charset="utf-8"></script>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
